<style>
    body {
        margin:0px;
    }

    a {
        text-decoration: none;
        color: black;
    }

    .top_line {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: white;
        padding: 10px;
        top:0px;
        position: sticky;
    }

    .icons1 {
        display: flex;
        align-items: center;
        font-size: 32px;
        font-family:Neonderthaw;

    }

    .icons1 img {
        padding: 10px;
    }
    
    .list {
        display: flex;
        list-style: none;
        padding:0px;
    }

    .list ul {
    }

    .list li {
        padding:10px 40px;
        font-family: Nanum Pen Script;
        font-size: 26px;
        text-decoration: none;
        color: black;
    }

    .list li:hover {
        border-bottom: 3px solid chocolate;
        margin-bottom: -3px;
        transition: ease 0.1s;
    }

    .list li a {
        text-decoration: none;
        color: black;
    }


    .icons {
        display: flex;
    }

    .icons img {
        padding: 10px 30px;
    }

    .Right {
        display: none;
    }

    .main {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main img {
        border-radius: 30px;
    }

    .season1 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px;
    }

    .season1 img {
        padding: 0px 40px 0px 40px;
    }

    .season1 img:hover {
        width: 600px;
        height: 300px;
    }

    .season1_comment {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid rgb(196, 193, 193);
        margin: 0px 300px 0px 300px;
        font-family: Nanum Pen Script;
        font-size: 30px;
    }

    .season2 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 80px 40px 40px 40px;
    }

    .season2 img {
        padding: 0px 40px 0px 40px;
    }

    .season2 img:hover {
        width: 600px;
        height: 300px;
    }

    .season2_comment {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid rgb(196, 193, 193);
        margin: 0px 300px 0px 300px;
        font-family: Nanum Pen Script;
        font-size: 30px;
    }

    .season3 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 80px 40px 40px 40px;
    }

    .season3 img {
        padding: 0px 40px 0px 40px;
    }

    .season3 img:hover {
        width: 600px;
        height: 300px;
    }

    .season3_comment {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid rgb(196, 193, 193);
        margin: 0px 300px 0px 300px;
        font-family: Nanum Pen Script;
        font-size: 30px;
    }

    .season4 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 80px 40px 40px 40px;
    }

    .season4 img {
        padding: 0px 40px 0px 40px;
    }

    .season4 img:hover {
        width: 600px;
        height: 300px;
    }

    .season4_comment {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid rgb(196, 193, 193);
        margin: 0px 300px 0px 300px;
        font-family: Nanum Pen Script;
        font-size: 30px;
    }

    .min_main {
        display: none;
    }

    .min_main ul {
        list-style: none;
    }

    .insta {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 60px;
        font-size: 30px;
    }

    .insta i {
        padding: 30px;
    }
    @media screen and (max-width: 768px) {
        .top_line {
            flex-direction: column;
            align-items: flex-start;
        }

        .list {
            flex-direction: column;
            align-items: center;
            width: 100%;
            background: none;
            border-top: 2px solid gray;
            border-bottom: 2px solid gray;
        }

        .list li:hover {
            border-bottom: 3px solid chocolate;
            margin-bottom: -3px;
            transition: ease 0.1s;
            text-align: center;
        }

        .icons {
            display: none;
        }

        .Right {
            display: block;
            position: absolute;
            right: 32px;
        }
        
        .Right img {
            padding: 10px 30px;
        }

        .main {
            display: none;
        }

        .season1{
            display: none;
        }

        .season2{
            display: none;
        }

        .season3{
            display: none;
        }

        .season4{
            display: none;
        }

        .season1_comment {
            display: none;
        }
        
        .season2_comment {
            display: none;
        }

        .season3_comment {
            display: none;
        }

        .season4_comment {
            display: none;
        }


        .min_main{
            display:flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 100px;
          }

          .min_main a {
            text-decoration: none;
            font-size: 24px;
            color: black;
          }

        .min_main1 {
            padding: 20px;
        }

        .min_main2 {
            padding: 20px;
        }

        .min_main3 {
            padding: 20px;
        }

        .min_main4 {
            padding: 20px;
        }

        .min_main5 {
            padding: 20px;
        }

        .insta i {
            padding: 10px;
        }
    }
</style>